<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="UTF-8"> 
        <title>List of movies</title> 
    </head> 
<body> 
	<h1>Lista filmów</h1>
    {% if movies_list %}
        <p>Przejdź do..</p>
        {% if paginator.prev %}
            <a href='{{url_for('index', page=paginator.first, on_page=on_page)}}'>Pierwsza</a>
            <span> | </span>
            <a href='{{url_for('index', page=paginator.prev, on_page=on_page)}}'>Poprzednia</a>
        {% endif %}

        {% if paginator.prev and paginator.next%}
            <span> | </span>
        {% endif %}     
        
        {% if paginator.next %}
            <a href='{{url_for('index', page=paginator.next, on_page=on_page)}}'>Następna</a>
            <span> | </span>
            <a href='{{url_for('index', page=paginator.last, on_page=on_page)}}'>Ostatnia</a>
        {% endif %}

    {% for movie in movies_list %}
    	<h3>Tytuł:</b> {{movie.title}}</h3>
    	<b>Gatunek:</b> {{movie.type}}<br/>
    	<b>Rok produkcji:</b> {{movie.year_created}}<br/>
    	<b>Reżyseria:</b> {{movie.direction}}<br/>
    	<p><a href='{{url_for('movie', id=movie.id)}}'>More...</a></p>
    	<br>
    {% endfor %}
    {% else %}
        <p>Brak filmów do wyświetlenia</p>
    {% endif %}
</body> 
</html>